Kivy==1.10.1
https://github.com/AndreMiras/KivyMD/archive/20170825.tar.gz
https://github.com/kivy-garden/garden.zbarcam/archive/20190223.tar.gz
Pillow==5.0.0
numpy==1.14.0
validators==0.12.1
raven==6.6.0
zbarlight==2.2
